node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage
/build
/dist
*.log
*.gz
*.zip
*.tar.gz
*.rar
.DS_Store
Thumbs.db
idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?